.our-client__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 0.85;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.our-client__list {
  text-align: center;
  @media screen and (min-width: 480px) and (max-width: 1190px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    display: flex;
  }
}
.our-client__item {
  @media screen and (min-width: 480px) and (max-width: 1190px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  height: 92px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--activity-text-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    margin: 0;
  }
}
.our-client__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 52px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    fill: var(--activity-text-color);
    border-color: var(--activity-text-color);
    outline: var(--activity-text-color);
  }
  &:hover {
    fill: var(--activity-text-color);
    border-color: var(--activity-text-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 16px 60px;
  }
  @media screen and (min-width: 1200px) {
    padding: 16px 32px;
  }
}
