.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & .backdrop--is-hidden & .modal {
    transform: translate(-50%, -50%) scale(0);
  }
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form__close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  padding: 0%;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50px;
}

.modal-form__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form__close:hover & {
    fill: var(--activity-text-color);
  }
}
.modal-form {
  width: 448px;
  margin: 0 auto;
  margin-top: 40px;
}
.modal-form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  margin-bottom: 12px;
  color: #212121;
}
.modal-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.modal-wrap__icon {
  fill: #2f303a;
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-wrap__input:focus ~ & {
    fill: var(--activity-text-color);
  }
}

.modal-wrap__input {
  display: block;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--activity-text-color);
    outline: var(--activity-text-color);
  }
}

.modal-wrap__textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--activity-text-color);
    outline: var(--activity-text-color);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}
.modal-wrap__label {
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: #757575;
  margin-bottom: 4px;
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.policy__link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;

  text-decoration-line: underline;

  color: #2196f3;
}
.policy__label {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;

  color: #757575;
}

.modal-form__submit {
  display: block;
  cursor: pointer;
  padding: 10px 55px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  border: none;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;

  color: #ffffff;
  margin: 0 auto;
  margin-top: 30px;
}

.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.policy__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 4px;
  margin-right: 8.38px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 1ms cubic-bezier(0.4, 0, 0.2, 1);
  .policy__checkbox:checked + & {
    background-color: var(--activity-text-color);
    background-image: url(../images/icon_check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--activity-text-color);
  }
}
