.our-team-list__item {
  max-width: 450px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    max-width: 354px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.our-team {
  background: #f5f4fa;
}

.our-team-list {
  // display: flex;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
// .our-team-list__item {
//   margin-left: 30px;
// }
.our-team__title {
  color: var(--main-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.worker__name {
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
  text-align: center;
}

.worker__position {
  color: var(--complementary-color);

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.worker {
  text-align: center;

  padding-top: 30px;
}
.social-box {
  margin-top: 16px;
  margin-right: 32px;
  margin-bottom: 30px;
  margin-left: 32px;
  @media screen and (min-width: 768px) {
    margin-top: 16px;
    margin-right: 74px;
    margin-bottom: 24px;
    margin-left: 74px;
  }
}
.social-box__list {
  display: flex;
  justify-content: space-between;
}

.social-box__item {
  display: inline-flex;
  background-color: white;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--activity-text-color);
  }
}

.social-box__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-box__item:hover &,
  .social-box__item:focus & {
    fill: white;
  }
}
