.portfolio-filter {
  margin-bottom: 50px;
  display: flex;
  // justify-content: center;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin-left: -4px;
    margin-bottom: 40px;
  }
}
.portfolio-filter__item {
  @media screen and (max-width: 767px) {
    margin: 8px 4px;
  }
  // margin-left: 8px;
  // &:first-child {
  //   margin-left: 0;
  // }
}

.portfolio-filter__button {
  color: var(--main-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: Roboto;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px 6px 22px;

  border: 0px;

  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--second-complementary-color);
    background-color: var(--activity-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
