.portfolio__poster {
  display: block;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

// .portfolio__item {
//   margin-right: 30px;
//   margin-bottom: 30px;
//   &:nth-child(3n) {
//     margin-right: 0;
//   }
//   &:nth-last-child(-n + 3) {
//     margin-bottom: 0;
//   }
// }

.portfolio__title {
  color: var(--main-text-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  color: var(--complementary-color);

  font-size: 16px;
  line-height: 1.87;
}
.portfolio__border {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.portfolio__link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__link:hover .portfolio__overlay {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transform: translateY(0);
}
.portfolio__overlay-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .portfolio__link:hover & {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    transform: translateY(0);
  }
}

.portfolio__overlay-text {
  font-size: 18px;
  line-height: 1.56;

  color: #ffffff;
}
