:root {
  --main-text-color: #212121;
  --complementary-color: #757575;
  --second-complementary-color: #ffffff;
  --activity-text-color: #2196f3;
  --main-background-color: #ffffff;
  --complementary-backgraund-color: #2f303a;
}
