.logo {
  color: var(--main-text-color);
  text-decoration: none;

  font-family: Raleway;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  margin-right: 93px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    color: var(--activity-text-color);
  }
  @media screen and (max-width: 767px) {
    margin-right: 276px;
  }
}
.logo__text {
  color: var(--activity-text-color);
}
