.footer {
  margin-left: auto;
  margin-right: auto;
  // display: flex;
}
.footer-info {
  // width: 231px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer-contacts__address {
  color: var(--second-complementary-color);
  text-decoration: none;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--activity-text-color);
  }
}

.footer-contacts__address {
  margin-bottom: 9px;
}
.footer-contacts__item {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}
