.footer-info__logo {
  display: inline-block;
  color: var(--second-complementary-color);
  text-decoration: none;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    color: var(--activity-text-color);
  }
  @media screen and (max-width: 767px) {
    margin-right: 0;
    font-size: 24px;
  }
}

.footer-info__text {
  color: var(--activity-text-color);
}
