.joing {
  display: block;
  // margin-left: 70px;
  margin-top: 12px;
  width: 206px;
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}
.joing__title {
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: #ffffff;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.joing-list {
  display: flex;
  justify-content: space-between;
}
.joing-list__icon {
  fill: white;
}
.joing-list__link {
  display: inline-flex;
  background-color: #44454e;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--activity-text-color);
  }
}
