.subscribe {
  // width: 570px;
  margin-top: 12px;
  // margin-left: 93px;
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-top: 60px;
  }
}

.subscribe__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.subscribe__button {
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  // margin-left: 12px;
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.subscribe__form {
  // display: flex;
  margin-top: 20px;
}

.subscribe__input {
  width: 358px;
  background-color: var(--complementary-backgraund-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding: 15px 0px 15px 16px;
  color: var(--main-background-color);
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    align-items: center;

    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (max-width: 1199px) {
    width: 450px;
  }
}
.subscribe__icon {
  margin-left: 10px;
}
